{% extends 'utilities/base.html' %}
{% load static %}
{% block content %}

<!-- End of Topbar -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">About Application</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <p>This is Login and logout example using customer user model and session in django</p>
            </div>
        </div>
    </div>

</div>
<!-- End of Main Content -->
{% endblock %}